<div class="dashboard-container">
    <h1 class="dashboard-title">Employee Dashboard</h1>
    <div class="card-container">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Active Users</h5>
          <p class="card-text">{{ activeUsers }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Inactive Users</h5>
          <p class="card-text">{{ inactiveUsers }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Employees</h5>
          <p class="card-text">{{ totalEmployees }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Salary</h5>
          <p class="card-text">{{ totalSalary | currency: 'INR':'symbol':'1.0-0'  }}</p>
        </div>
      </div>
    </div>
  </div>
  
